<main class="main-info container">
  <aside class="categories">
    <div class="category">
      <div class="cat-colour"></div>
      <span class="cat-text">work</span>
    </div>
    <div class="category">
      <div class="cat-colour"></div>
      <span class="cat-text">study</span>
    </div>
    <div class="category">
      <div class="cat-colour"></div>
      <span class="cat-text">entertainment</span>
    </div>
    <div class="category">
      <div class="cat-colour"></div>
      <span class="cat-text">family</span>
    </div>
  </aside>
  <section class="todo-items">
    <article class="todo-item">
      <header class="todo-head">
        <h2 class="todo-title">My first title</h2>
        <div class="todo-dialog-container">
          <img src="{% static 'asset/icons/more-icon.svg' %}" alt="" class="todo-more-btn">
          <div class="todo-more-menu">
            <a href="" class="todo-menu-edit">Edit...</a>
            <a href="" class="todo-menu-delete">Delete</a>
          </div>
        </div>
        
      </header>
      <p class="todo-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequatur. Iusto eveniet quia fugiat accusamus facilis aperiam ducimus, labore cum beatae totam quos soluta, sed quas eius voluptate exercitationem a!
      </p>
      <div class="todo-done">
        <div class="todo-done-container">
          <a href="#" class="todo-done-link">
            <div class="todo-done-checkbox">
              <svg class="todo-done-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path fill="currentColor" d="M378 807.609q-7.696 0-14.674-2.848t-13.109-8.978l-181-181Q157.391 602.957 157.391 586t11.826-28.783q11.826-11.826 28.066-11.826 16.239 0 28.63 11.826L378 709.304l355.652-355.087q11.826-11.826 28.283-12.109 16.456-.282 28.283 12.109 11.826 11.826 11.826 28.566 0 16.739-11.826 28.565L405.783 795.783q-6.131 6.13-13.109 8.978T378 807.609Z"/></svg>
            </div>
            <p class="todo-done-text">Done</p>
          </a>
        </div>
      </div>
    </article>

    <article class="todo-item">
      <header class="todo-head">
        <h2 class="todo-title">My second title</h2>
        <div class="todo-dialog-container">
          <img src="{% static 'asset/icons/more-icon.svg' %}" alt="" class="todo-more-btn">
          <div class="todo-more-menu">
            <a href="" class="todo-menu-edit">Edit...</a>
            <a href="" class="todo-menu-delete">Delete</a>
          </div>
        </div>
      </header>
      <p class="todo-text">
        Error alias dolore sequi nemo, voluptatum quas ipsum sapiente, voluptatibus labore magnam rerum placeat fuga dolorum velit cumque amet illo? Blanditiis inventore labore ab necessitatibus quis deserunt odio debitis nisi.
      </p>
      <div class="todo-done">
        <div class="todo-done-container">
          <a href="#" class="todo-done-link">
            <div class="todo-done-checkbox">
              <svg class="todo-done-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path fill="currentColor" d="M378 807.609q-7.696 0-14.674-2.848t-13.109-8.978l-181-181Q157.391 602.957 157.391 586t11.826-28.783q11.826-11.826 28.066-11.826 16.239 0 28.63 11.826L378 709.304l355.652-355.087q11.826-11.826 28.283-12.109 16.456-.282 28.283 12.109 11.826 11.826 11.826 28.566 0 16.739-11.826 28.565L405.783 795.783q-6.131 6.13-13.109 8.978T378 807.609Z"/></svg>
            </div>
            <p class="todo-done-text">Done</p>
          </a>
        </div>
      </div>
    </article>
  </section>
</main>